@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --color-primary: rgb(0,0,0);
}
a.nav-active{
    background-color: var(--color-primary);
    color: white;
}

/*********************************NAVBAR***********************************/
