@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --color-primary: rgb(0,0,0);
    --color-secondary: rgb(255,255,255);
}
html {
    scroll-behavior: smooth;
}
.scroll-lazy{
    transition: all 0.3s ease-in-out;
}
a.nav-active{
    background-color: var(--color-primary);
    color: white;
}
.parallax-bg{
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/*******************************DARK THEME**********************************/
body.dark{
    background-color: #333333;
}
.dark a.nav-active{
    background-color: var(--color-secondary);
    color: black;
}
.dark p{
    color: #d4d4d8;
}